test/Occurrence.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:local="http://whatever.x/local" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://whatever.x/local">

    <xsd:complexType name="Main">
        <xsd:sequence>
            <xsd:element maxOccurs="3" minOccurs="1" name="MyElement" type="local:MyElement" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType  name="MyElement">
        <xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="description" type="xsd:string" />
    </xsd:complexType>

    <xsd:element name="Main" type="local:Main" />

</xsd:schema>
