test/Recursion.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:local="http://whatever.x/local" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://whatever.x/local">

    <xsd:complexType name="MainType1">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SubMain" type="local:MainType1" />
        </xsd:sequence>
        <xsd:attribute name="channel" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="MainType2">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SubMain" type="local:MainType2" />
        </xsd:sequence>
        <xsd:attribute name="channel" type="xsd:string" use="required" />
    </xsd:complexType>


    <xsd:complexType name="Structure">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Message" type="local:Message" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Message">
        <xsd:complexContent>
            <xsd:extension base="local:Structure" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="Main1" type="local:MainType1" />
    <xsd:element name="Main2" type="local:MainType2" />
    <xsd:element name="Structure" type="local:Structure" />

</xsd:schema>
